.user-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.user-item__header {
  align-items: center;
  display: flex;
}

.user-item__image {
  border-radius: 50%;
  height: 56px;
  margin-right: 4px;
  width: 56px;
}

.user-item__name {
  font-weight: 700;
  font-size: 16px;
}

.user-item__techs {
  background-color: rgba(27, 31, 35, 0.08);
  border-radius: 0.25rem;
  color: #586069;
  font-size: 12px;
  margin-right: 4px;
  padding: 0.25em 0.4em;
}

.user-item__bio {
  margin: 8px 0;
}

.user-item__link {
  color: #8e4dff;
  text-decoration: none;
}
